.checkout_product {
	display: flex;
	margin-top:10px;
}

.checkout_product img {
	object-fit:contain;
	max-height:200px;
	max-width:400px;
}

.product_info {
	display:flex;
	flex-direction:column;
	margin-left:10px;
}

.btn {
	background: #ecc94b;
	color:black;
	width:100px;
	border:none;
	padding:5px;
	border-radius:5px;
	cursor: pointer;
	margin:10px 0;
}

.checkoutComponent {
	display:flex;
}
