.product {
	display:flex;
	flex-direction:column;
	align-items: center;
	margin-left:10px;
	margin-right:10px;
	background:white;
	padding:25px;
	margin-bottom:20px;
}

.starIcon {
	color: #ecc94b;	
}

.product_display {
	display: flex;
	flex-direction:column;
	align-items: center;
}

.product_display > img {
	object-fit:contain;
	max-width:200px;
	max-height:400px;
	margin-bottom:10px;
}

.product_display > button {
	background: #ecc94b;
	color:black;
	width:100px;
	border:none;
	padding:5px;
	border-radius:5px;
	cursor: pointer;
}